<% if !@live_games.empty? %>
<h2>Derzeit Live</h2>
<% @live_games.each do |game| %> 
  <h5 class="time_date"><%= game.gametime.strftime("%d.%m um %H:%M") %> in <%= game.stadium.city %></h5>
  <div class="game_container">
    <%= image_tag('flags/' + game.team_one.flag_url + '.png', :alt => game.team_one.country, :class => 'flag', :size => '32x32', :style => 'display: inline') %>  
    <span class="team"><%= game.team_one.shortname %></span>
      <span class="game_during">- : -</span>
    <span class="team"><%= game.team_two.shortname %></span>
    <%= image_tag('flags/' + game.team_two.flag_url + '.png', :alt => game.team_two.country, :class => 'flag', :size => '32x32') %>
  </div>
  <% if @tipps.find_by_game_id(game.id) %>
  <div class="tipp_bottom">
    <p> Ihr Tipp: <%= @tipps.find_by_game_id(game.id).goals_one %> : <%= @tipps.find_by_game_id(game.id).goals_two %> 
    </p>
</div>
  <% end %>
  <% end %>
  <% end %>