<h2>Anleitung KEK Gewinnspiel</h2>
<p>Herzlich Willkommen beim KEK WM Tippspiel f&uuml;r die offizielle FIFA WM 2018 in Russland.</p>
<p><br />Wir freuen uns sehr, dass Sie sich dazu entschieden haben, an dem von der KEK Anwendungssysteme GmbH ausgerichteten Online-Tippspiel teilzunehmen und somit die Chance haben, mit Ihrer Fu&szlig;ballbegeisterung und ein wenig Gl&uuml;ck, bis zu 500,00
  &euro; f&uuml;r einen guten Zweck Ihrer Wahl zu gewinnen:</p>
<p><br />Die KEK Anwendungssysteme GmbH wird zu dieser WM als Hauptgewinn f&uuml;r das Tippspiel eine Spende in H&ouml;he von 500,00 &euro; f&uuml;r einen guten Zweck vergeben. Den Spendenempf&auml;nger darf dann von dem Gewinner des Tippspiels bestimmt
  werden.</p>
<p><br />Dank der Unterst&uuml;tzung und des Co-Sponsorings der YooYuu GmbH ist es zudem m&ouml;glich, nicht nur den erstplatzierten Spieler mit einem Gewinn auszustatten, sondern auch den Zweitplatzierten sowie den Drittplatzierten mit je einem Trostpflaster
  in Form einer Spende in H&ouml;he von 300,00 &euro; sowie 150,00 &euro; f&uuml;r einen guten Zweck zu entlohnen.</p>
<p><br />Alle Spenden werden vom jeweiligen Unternehmen im Namen des Gewinners nach Ablauf des Tippspiels get&auml;tigt.</p>
<p><br />Somit m&ouml;chten wir Sie herzlich dazu einladen, aktiv Teil dieses Ereignisses zu werden und dieses auch in Ihrem Bekanntenkreis zu teilen, denn desto mehr Teilnehmer sich anmelden, desto spannender und umk&auml;mpfter wird letztendlich das Tippspiel.</p>
<p><br />Um dieses Tippspiel noch kompetitiver unter allen Teilnehmern zu gestalten, d&uuml;rfen auch Teilnehmer von KEK sowie von YooYuu und auch deren Angeh&ouml;rige an diesem Tippspiel teilnehmen, wobei diese von der Gewinnaussch&uuml;ttung ausgenommen
  sind.</p>
<p><br />Die Spielregeln, sowie den generellen organisatorischen Ablauf und mehr Infos zu den Gewinnm&ouml;glichkeiten, stehen Ihnen im Folgenden zur Verf&uuml;gung:</p>
<p>&nbsp;</p>
<h3>1. Spielablauf</h3>
<p>&nbsp;</p>
<p>Das KEK WM Tippspiel startet am Montag, den 11.06.2018, und endet mit der offiziellen Benennung des neuen Fu&szlig;ballweltmeisters nach dem Finale am 14.07.2018 in Moskau.<br />Den Teilnehmern steht es &uuml;ber den gesamten Zeitraum frei, bei allen
  64 Spielen mitzutippen und innerhalb des oben genannten Zeitraums aktiv am Tippspiel teilzunehmen.<br />Gewonnen hat derjenige, der nach Beendigung des Tippspiels am meisten Punkte nach dem unter Punkt 3. erkl&auml;rten Punktesystem erspielt hat. Sollte
  es am Ende zu einem Punktegleichstand zwischen mehreren Spielern kommen, so wird der Spieler mit den meisten exakt getippten Spielen als Sieger hervorgehen. Sollte es in diesem Fall immer noch unentschieden sein, wird der Sieger durch KEK via Losverfahren
  ermittelt. Nach Beendigung des Tippspiels, wird KEK sich mit den Gewinnern des Tippspiels in Verbindung setzen.</p>
<h3>2. Tippabgabe</h3>
<p>&nbsp;</p>
<p>Um die M&ouml;glichkeit zu haben, Punkte f&uuml;r sich selbst zu sammeln, muss der Spieler vor Anpfiff der jeweiligen Spiele seine Tipps platzieren. Dies erfolgt &uuml;ber eine Eingabe des von ihm erwarteten Ergebnisses im entsprechenden Eingabefeld der
  Webseite. Eine Tippabgabe ist nicht zwingend, sollte jedoch durchgef&uuml;hrt werden, da nicht nur das exakt richtig getippte Ergebnis mit Punkten belohnt wird (siehe Punktevergabe).<br />Bitte beachten Sie, dass eine Tippeingabe nur bis sp&auml;testens
  zum Spielanpfiff m&ouml;glich ist. Nach Anpfiff des Spiels ist die Tippeingabe nicht mehr m&ouml;glich. Sollte der Anpfiff des Spiels aus unvorhergesehen Gr&uuml;nden nach hinten verlegt werden, gilt die urspr&uuml;ngliche Startzeit des Fu&szlig;ballspiels
  als Annahmeschluss f&uuml;r eingehende Tipps.</p>
<p>&nbsp;</p>
<h3>3. Punktesystem</h3>
<div class="row">
  <div class="col-md-6">
    <table class="table">
        <p>
          Am Beispiel: <strong>Deutschland - Mexiko 3:1</strong>
        </p>
        <tbody>
          <tr>
            <td><strong>Richtiges Ergebnis</strong> (Bsp: 3:1)</td>
            <td style="text-align: right;">5 Punkte</td>
          </tr>
          <tr>
            <td><strong>Richtige Tordifferenz</strong> (Bsp: 2:0)</td>
            <td style="text-align: right;">3 Punkte</td>
          </tr>
          <tr>
            <td><strong>Richtige Tendenz</strong> (Bsp: 3:0)</td>
            <td style="text-align: right;">1 Punkte</td>
          </tr>

          <tr>
            <td><strong>Falscher Tipp</strong> (Bsp: 0:2)</td>
            <td style="text-align: right;">0 Punkte</td>
          </tr>
        </tbody>
    </table>
  </div>
  <div class="col-md-6">
  </div>
</div>
<p>Nach Eingabe des Ergebnisses durch KEK ins Tippspiel werden die Punkte automatisch vom System berechnet und dem Spieler auf sein entsprechendes Punktekonto gutgeschrieben. KEK wird nach Abpfiff einer Partie so zeitnah wie m&ouml;glich die Ergebnisse im
  Tippspiel pflegen, sodass alle Spieler so schnell wie m&ouml;glich den aktuellen Turnierstand betrachten k&ouml;nnen.<br />Bei der K.O.-Runde ab dem Achtelfinale wird das Ergebnis nach 90 Minuten Spielzeit f&uuml;r die Wertung verwendet, sodass auch
  bei diesen Spielen ein Unentschieden m&ouml;glich ist. Tore, welche w&auml;hrend der Verl&auml;ngerung bzw. dem Elfmeterschie&szlig;en fallen, werden nicht f&uuml;r das Tippergebnis in Betracht gezogen.</p>
<p>&nbsp;</p>
<h3>4. Spielen auf Mobilger&auml;ten</h3>
<p>&nbsp;</p>
<p>Generell wurde das KEK WM Tippspiel so konzipiert, dass auch eine Nutzung &uuml;ber ein mobiles Endger&auml;t bzw. &uuml;ber ein Tablet reibungslos m&ouml;glich ist. Wie Sie einen Schnellzugriff zu der Seite in Ihrem Smartphone oder Tablet konfigurieren
  k&ouml;nnen, finden Sie im Folgenden:</p>
<h3>Android:</h3>
<div class="col-md-6">
  <h4><strong>Schritt 1:</strong><br/>Suchen sie in ihrem Browser das <%= render 'shared/svg/settings_android' %> -Symbol</h4>
  <h4><strong>Schritt 2:</strong><br/>Wählen Sie nun aus den Menü den zum Startbildschirm hinzufügen Button</h4>
  <h4><strong>Schritt 3:</strong><br/>Titel nach belieben anpassen und hinzufügen drücken</h4>
</div>
<div class="col-md-2">
  <%= image_tag('/homescreen/Android1.png', :alt => 'Android Homescreen', :style => 'width: 100%') %>
</div>
<div class="col-md-2">
  <%= image_tag('/homescreen/Android2.png', :alt => 'Android Homescreen', :style => 'width: 100%') %>
</div>
<div class="col-md-2">
  <%= image_tag('/homescreen/Android3.png', :alt => 'Android Homescreen', :style => 'width: 100%') %>
</div>
<h3>iPhone:</h3>
<div class="col-md-6">
  <h4><strong>Schritt 1:</strong><br/>Drücken Sie in der Wohnung Fußzeile ihres mobilen Browsers das <%= render 'shared/svg/share_ios' %>-Symbol</h4>
  <h4><strong>Schritt 2:</strong><br/>Wählen Sie nun aus dem untersten Menü den zum Homescreen hinzufügen Button</h4>
  <%= image_tag('homescreen.jpg', :alt => 'Homescreen Explainer iOS', :style => 'width: 100%') %>
  <h4><strong>Schritt 3:</strong><br/>Titel nach belieben anpassen und hinzufügen drücken</h4>
</div>
<div class="col-md-3">
  <%= image_tag('/homescreen/iOS2.png', :alt => 'iOSHomescreen', :style => 'width: 100%') %>
</div>
<div class="col-md-3">
  <%= image_tag('/homescreen/iOS1.png', :alt => 'iOs Homescreen', :style => 'width: 100%') %>
</div>
<p>&nbsp;</p>
<h3>Support</h3>
<p>&nbsp;</p>
<p>Bei generellen technischen Problemen, bitten wir Sie, uns diese hier mitzuteilen, oder uns eine E-Mail an tippspiel@kek-it.de unter Angabe des Problems zukommen zu lassen.</p>
<footer>
  <p>&nbsp;</p>
</footer>