<% @scale=true %>
<div class="turnierbaum" style="margin: 10px 10px">
  <div class="row">
    <div class="col-xs-3">
      <%= render 'shared/turnierbaum_game', gamenr: 49, teamone: '1A', teamtwo: '2B' %>
    </div>
    <div class="col-xs-3">
      <%= render 'shared/turnierbaum_game', gamenr: 50, teamone: '1C', teamtwo: '2D' %>
    </div>
    <div class="col-xs-3">
      <%= render 'shared/turnierbaum_game', gamenr: 53, teamone: '1E', teamtwo: '2F' %>
    </div>
    <div class="col-xs-3">
      <%= render 'shared/turnierbaum_game', gamenr: 54, teamone: '1G', teamtwo: '2H' %>
    </div> 
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-1">
      <%= render 'shared/turnierbaum_game', gamenr: 57, teamone: 'S49', teamtwo: 'S50' %>
    </div>
    <div class="col-xs-4 col-xs-offset-2">
      <%= render 'shared/turnierbaum_game', gamenr: 58, teamone: 'S53', teamtwo: 'S54' %>
    </div>  
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <%= render 'shared/turnierbaum_game', gamenr: 61, teamone: 'S57', teamtwo: 'S58' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <%= render 'shared/turnierbaum_game', gamenr: 64, teamone: 'S61', teamtwo: 'S62' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <%= render 'shared/turnierbaum_game', gamenr: 62, teamone: 'S59', teamtwo: 'S60' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-1">
      <%= render 'shared/turnierbaum_game', gamenr: 59, teamone: 'S51', teamtwo: 'S52' %>
    </div>
    <div class="col-xs-4 col-xs-offset-2">
      <%= render 'shared/turnierbaum_game', gamenr: 60, teamone: 'S55', teamtwo: 'S56' %>
    </div>   
  </div>
  <div class="row">
    <div class="col-xs-3">
      <%= render 'shared/turnierbaum_game', gamenr: 51, teamone: '1B', teamtwo: '2A' %>
    </div>
    <div class="col-xs-3">
      <%= render 'shared/turnierbaum_game', gamenr: 52, teamone: '1D', teamtwo: '2C' %>
    </div> 
    <div class="col-xs-3">
      <%= render 'shared/turnierbaum_game', gamenr: 55, teamone: '1F', teamtwo: '2E' %>
    </div>
    <div class="col-xs-3">
      <%= render 'shared/turnierbaum_game', gamenr: 56, teamone: '1H', teamtwo: '2G' %>
    </div>  
  </div>
</div>