<iframe src="https://www.kek-tipp.de/iframe/turnierbaum" id="iframe"></iframe>
<div class="tb_games_container">
  <h2 class="group_header">Achtelfinale</h2>
  Spiel 49
  <%= render 'shared/turnierbaum_game2', gamenr: 49, teamone: '1A', teamtwo: '2B' %>
  Spiel 50
  <%= render 'shared/turnierbaum_game2', gamenr: 50, teamone: '1C', teamtwo: '2D' %>
  Spiel 51
  <%= render 'shared/turnierbaum_game2', gamenr: 51, teamone: '1B', teamtwo: '2A' %>
  Spiel 52
  <%= render 'shared/turnierbaum_game2', gamenr: 52, teamone: '1D', teamtwo: '2C' %>
  Spiel 53
  <%= render 'shared/turnierbaum_game2', gamenr: 53, teamone: '1E', teamtwo: '2F' %>
  Spiel 54
  <%= render 'shared/turnierbaum_game2', gamenr: 54, teamone: '1G', teamtwo: '2H' %>
  Spiel 55
  <%= render 'shared/turnierbaum_game2', gamenr: 55, teamone: '1F', teamtwo: '2E' %>
  Spiel 56
  <%= render 'shared/turnierbaum_game2', gamenr: 56, teamone: '1H', teamtwo: '2G' %>
  <h2 class="group_header">Viertelfinale</h2>
  Spiel 57
  <%= render 'shared/turnierbaum_game2', gamenr: 57, teamone: 'S49', teamtwo: 'S50' %>
  Spiel 58
  <%= render 'shared/turnierbaum_game2', gamenr: 58, teamone: 'S53', teamtwo: 'S54' %>
  Spiel 59
  <%= render 'shared/turnierbaum_game2', gamenr: 59, teamone: 'S51', teamtwo: 'S52' %>
  Spiel 60
  <%= render 'shared/turnierbaum_game2', gamenr: 60, teamone: 'S55', teamtwo: 'S56' %>
  <h2 class="group_header">Halbfinale</h2>
  Spiel 61
  <%= render 'shared/turnierbaum_game2', gamenr: 61, teamone: 'S57', teamtwo: 'S58' %>
  Spiel 62
  <%= render 'shared/turnierbaum_game2', gamenr: 62, teamone: 'S59', teamtwo: 'S60' %>
  <h2 class="group_header">Spiel um Platz 3</h2>
  <%= render 'shared/turnierbaum_game2', gamenr: 63, teamone: 'L61', teamtwo: 'L62' %>
  <h2 class="group_header">Finale</h2>
  <%= render 'shared/turnierbaum_game2', gamenr: 64, teamone: 'S61', teamtwo: 'S62' %>
</div>