<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title><%= content_for?(:title) ? yield(:title) : "KEK | WM Tippspiel" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Orbitron:400,700" rel="stylesheet">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TZ95235');</script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TZ95235"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">WM-Tippspiel</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Spiele", "/games"  %></li>
            <li><%= link_to "Gruppenphase", "/groups"  %></li>
            <li><%= link_to "Spielstand", "/tabelle" %></li>
            <li><%= link_to "Anleitung", "/how-to-play" %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to "Ausloggen", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Anmelden", login_path %></li>
            <li><%= link_to "Registrieren", signup_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container" style="margin-top: 70px;">
          <%= bootstrap_flash %>
          <%= yield %>

      <footer>
        <p>
          &copy; 2018 <%= link_to "KEK Anwendungssysteme GmbH", "http://www.kek-it.de", target: "_blank" %>   |   
          <%= link_to "Datenschutz", datenschutz_path, target: "_blank" %>   |   
          <%= link_to "Impressum", impressum_path, target: "_blank" %>   |   
          <%= link_to "Nutzungs-Richtlinien", richtlinien_path, target: "_blank" %>   |   Emoji artwork provided by 
          <%= link_to "EmojiOne", "http://emojione.com" %>
        </p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
